{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<p class="mt-2 ms-5">
    <a href="{{ path('app_users') }}" class=""> <img src="{{ asset('assets/local-img/button/back.png') }}" width="30px" height="30px" class="img-fluid"> </a>
</p>
<div class="vh-90 d-flex justify-content-center align-items-center">
    <div class="col-md-6 p-5 shadow-sm border rounded-3 mt-5 bg-light">
            <h1 class="text-center">Edit User</h1>
    {{ form_start(registrationForm) }} 
    <fieldset>
        <legend>Personal Information</legend>
        {% if is_granted('ROLE_ADMIN') %}
        {{ form_row(registrationForm.firstName) }}
        <br>
        {{ form_row(registrationForm.lastName) }}
         <br>
         {% else %}
         {{ form_widget(registrationForm.firstName, {'attr': {'hidden': 'hidden'}}) }}
            {{ form_widget(registrationForm.lastName, {'attr': {'hidden': 'hidden'}}) }}
        {% endif %}
        {{ form_row(registrationForm.email) }}
         <br>
         {{ form_row(registrationForm.plainPassword, {'label': 'Password', 'required': false, 'attr': {'placeholder': 'Leave blank to keep the same password'}}) }}
         <br>
        {{ form_row(registrationForm.RGPDConsent) }}
    </fieldset>
    <div class="d-grid">
        <button class="btn btn-success my-3" type="submit">Edit</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
</div>

{% endblock %}
